body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'din';
    font-weight: 100;
}

body a {
color: #333333; 
}
body a:focus,
body a:hover {
color: #333333; 
}

.mb {
margin-bottom: 50px;}

.din {font-family: din;}

.eraser {font-family: eraserregular;}

a {
    color: darkgrey;
    text-decoration: none;
}

a:hover {
    color: black;
}

table {
    width: 100%;
}

th {
    text-align: left;
    width:1%;
    white-space:nowrap;
}

input[type=text], input[type=password] {
    width: 100%;
    
}

tr:nth-child(odd) {
    background: #eee;
}

input[readonly] {
    background-color: #eee;
    border: 1px solid darkgray;
}

button {
    border: none;
}

.users.form input {
    font-size: 40px;
}

.users.form .input.password {
    padding-top: 30px;
    
}

.users.form button {
    margin-top: 30px;
    min-height: 50px;
    min-width: 200px;
    font-size: 27px;
    background-color: #000;
    color: #f3ed3d;
}

.yellowdesksyellow {
    color: #f3ed3d;
}
